@model IEnumerable<ZepterTest.Common.DTO.OrderReportDTO>
@{
	ViewData["Title"] = "Dane pobrane przy pomocy Entity Framework";
}

<h2>Dane pobrane przy pomocy Entity Framework</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Metoda Płatności</th>
			<th>Ilość zamówień</th>
			<th>Suma brutto</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var orderReport in Model)
	{
		<tr>
			<td>@orderReport.PaymentMethod.ToString()</td>
			<td>@orderReport.OrdersCount</td>
			<td>@orderReport.TotalGrossValue</td>
		</tr>
	}
	</tbody>
</table>
